<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf_styles.css') }}">
</head>
<body>
    <h1>Questions for {{ topic }}</h1>
    <table>
        <thead>
            <tr>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
            {% for i, question in enumerate(questions, start=1) %}
            <tr>
                
                <td>{{ question }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
